<div class="flex justify-left">
  <div class="flex mr-2">
    <%= link_to "New", 'products#index' %>
  </div>
  <div class="flex mx-2">
    <%= link_to "Clothing", 'products#index' %>
  </div>
  <div class="flex mx-2">
    <%= link_to "Back In", 'products#index' %>
  </div>
  <div class="flex mx-2">
    <%= link_to "Brands", 'products#index' %>
  </div>
</div>
