<h1> You've reached the products index </h1>

<table>
  <thead>
    <tr>
      <th scope="col">Product: </th>
      <th scope="col">Price</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name%></td>
      <td><%= product.price%></td>
      <td><%= image_tag product.image, width: "50px" if product.image.attached? %></td>
    </tr>
  <% end %>
  </tbody>
</table>

