<div class="footer bg-black text-white px-10 flex space-x-60 pt-28 pb-10" height="500">
  <div class="mailing-list" >
    <p>
      JOIN ARITZIA'S MAILING LIST
    </p>

    <p>
      Insider info on sales, new arrivals and more good stuff.
    </p>

    <form>
      <input type="text" placeholder="Email Address" />
    </form>
  </div>

  <div class="aritzia-links w-1/4 flex flex-col space-y-3" >
    <p class="text-sm text-gray-400">
        ARITZIA
    </p>

      <a  href="#">Email Address</a>
      <a  href="#">Store Locator</a>
      <a  href="#">Careers</a>
      <a  href="#">Sustainability</a>
      <a  href="#">Diversity & Inclusion</a>
      <a  href="#">Accessibility</a>
      <a  href="#">Gift Cards</a>
      <a  href="#">Find a List</a>
      <a  href="#">Investor Relations</a>
      <a  href="#">Artistic License</a>
      <a  href="#">California Transparency Act</a>
  </div>

  <div class="help-links w-1/4 flex flex-col space-y-3" >
    <p class="text-sm text-gray-400">
      GET HELP
    </p>

    <a  href="#">Contact Us</a>
    <a  href="#">Size Guide</a>
    <a  href="#">Shipping</a>
    <a  href="#">Returns & Exchanges</a>
    <a  href="#">Payment & Security</a>
    <a  href="#">Order Tracking</a>
    <a  href="#">Special Orders</a>
    <a  href="#">Our Services</a>
    <a  href="#">Send Us Feedback</a>
    <a  href="#">Afterpay</a>
  </div>
</div>