<div class="footer bg-black text-white px-10 flex space-x-60 pt-28 pb-10 text-xs" height="500">
  <div class="w-1/3 flex flex-col space-y-5" >
    <p>
    JOIN ARITZIA'S MAILING LIST
    </p>

    <p>
    Insider info on sales, new arrivals and more good stuff.
    </p>

    <form>
      <div class="border-b border-gray-500 py-2 mb-5">
        <input class="text-base border-none focus:outline-none bg-transparent" type="text" placeholder="Email Address" />
      </div>
    </form>

    <div>
      <ul class="flex space-x-5">
        <li class="mr3 pr2">
          <a href="http://www.facebook.com/aritzia" target="_blank" aria-label="Facebook">
            <svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M18.2132585,15.9571538 L18.2132585,27.8963852 L13.3249589,27.8963852 L13.3249589,15.9571538 L11,15.9571538 L11,11.7394418 L13.3249589,11.7394418 L13.3249589,9.00927976 C13.3249589,7.05724379 14.238756,4 18.2574033,4 L21.8787475,4.01493524 L21.8787475,8.11017826 L19.2506611,8.11017826 C18.8224566,8.11017826 18.2132585,8.32823278 18.2132585,9.2601918 L18.2132585,11.7394418 L21.9405502,11.7394418 L21.5123458,15.9571538 L18.2132585,15.9571538 Z" fill="#FFFFFF"></path>
              </g>
            </svg>
          </a>
        </li>
        <li class="mr3 pr2">
          <a href="http://twitter.com/aritzia" target="_blank" aria-label="Twitter">
            <svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M24.9463939,12.4170698 C24.9463939,18.8341231 20.1339118,26.2334086 11.3338613,26.2334086 C8.63175897,26.2334086 6.11766702,25.4301675 4,24.0514921 C4.37602071,24.0988286 4.75641375,24.1180591 5.14117913,24.1180591 C7.38418638,24.1180591 9.44501306,23.3444033 11.0817234,22.0411705 C8.99029034,22.0041888 7.22241003,20.5988867 6.61465563,18.6699246 C6.90614455,18.727616 7.2049207,18.755722 7.51389895,18.755722 C7.95113234,18.755722 8.37379127,18.6980307 8.7731311,18.5856065 C6.58696418,18.1403476 4.93713688,16.1758832 4.93713688,13.8238512 L4.93713688,13.7632013 C5.58278485,14.1271006 6.32025182,14.3475112 7.10435702,14.3697002 C5.82034832,13.5013714 4.97648789,12.0132304 4.97648789,10.3283471 C4.97648789,9.43782936 5.21259392,8.60648221 5.62359329,7.88755923 C7.98173867,10.8253803 11.5087546,12.7587802 15.4846635,12.9599602 C15.4030466,12.6049365 15.3607807,12.2351202 15.3607807,11.8534697 C15.3607807,9.17304085 17.5032243,7 20.1455714,7 C21.5199416,7 22.7645993,7.58874762 23.6376087,8.53103968 C24.7263198,8.31506693 25.7509034,7.90974821 26.6763807,7.35502369 C26.3178493,8.48814098 25.5599781,9.44078789 24.5718307,10.0398904 C25.5395739,9.92450767 26.4621363,9.66415696 27.3191138,9.27658943 C26.6792956,10.2499461 25.8674989,11.1049614 24.9318195,11.7898613 C24.9420216,11.9984377 24.9463939,12.2070142 24.9463939,12.4170698 Z" fill="#FFFFFF"></path>
              </g>
            </svg>
          </a>
        </li>
        <li class="mr3 pr2">
          <a href="http://instagram.com/aritzia" target="_blank" aria-label="Instagram">
            <svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(6.000000, 6.000000)" fill="#FFFFFF">
              <path d="M9.99686508,0.00630952381 C7.28186508,0.00630952381 6.94142857,0.0178174603 5.87515873,0.066468254 C4.81111111,0.115 4.08440476,0.284007937 3.44853175,0.531150794 C2.79115079,0.786587302 2.23365079,1.1284127 1.67785714,1.68416667 C1.12210317,2.23996032 0.780277778,2.79746032 0.52484127,3.45484127 C0.277698413,4.09071429 0.108690476,4.81742063 0.0601587302,5.88146825 C0.0115079365,6.9477381 0,7.2881746 0,10.0031746 C0,12.7181349 0.0115079365,13.0585714 0.0601587302,14.1248413 C0.108690476,15.1888889 0.277698413,15.9155952 0.52484127,16.5514683 C0.780277778,17.2088492 1.12210317,17.7663492 1.67785714,18.3221429 C2.23365079,18.8778968 2.79115079,19.2197222 3.44853175,19.4751984 C4.08440476,19.7223016 4.81111111,19.8913095 5.87515873,19.9398413 C6.94142857,19.9884921 7.28186508,20 9.99686508,20 C12.7118254,20 13.0522619,19.9884921 14.1185317,19.9398413 C15.1825794,19.8913095 15.9092857,19.7223016 16.5451587,19.4751984 C17.2025397,19.2197222 17.7600397,18.8778968 18.3158333,18.3221429 C18.8715873,17.7663492 19.2134127,17.2088492 19.4688889,16.5514683 C19.7159921,15.9155952 19.885,15.1888889 19.9335317,14.1248413 C19.9821825,13.0585714 19.9936905,12.7181349 19.9936905,10.0031746 C19.9936905,7.2881746 19.9821825,6.9477381 19.9335317,5.88146825 C19.885,4.81742063 19.7159921,4.09071429 19.4688889,3.45484127 C19.2134127,2.79746032 18.8715873,2.23996032 18.3158333,1.68416667 C17.7600397,1.1284127 17.2025397,0.786587302 16.5451587,0.531150794 C15.9092857,0.284007937 15.1825794,0.115 14.1185317,0.066468254 C13.0522619,0.0178174603 12.7118254,0.00630952381 9.99686508,0.00630952381 Z M9.99686508,1.80753968 C12.6661111,1.80753968 12.9823016,1.8177381 14.0364286,1.86583333 C15.0111111,1.91027778 15.5404365,2.07313492 15.8926984,2.21003968 C16.3593254,2.39138889 16.6923413,2.60801587 17.0421429,2.95785714 C17.3919841,3.30765873 17.6086111,3.6406746 17.7899603,4.10730159 C17.9268651,4.45956349 18.0897222,4.98888889 18.1341667,5.96357143 C18.1822619,7.01769841 18.1924603,7.33388889 18.1924603,10.0031746 C18.1924603,12.6724206 18.1822619,12.9886111 18.1341667,14.0427381 C18.0897222,15.0174206 17.9268651,15.546746 17.7899603,15.8990079 C17.6086111,16.3656349 17.3919841,16.6986508 17.0421429,17.0484524 C16.6923413,17.3982937 16.3593254,17.6149206 15.8926984,17.7962698 C15.5404365,17.9331746 15.0111111,18.0960317 14.0364286,18.1404762 C12.9824603,18.1885714 12.6663095,18.1987698 9.99686508,18.1987698 C7.32738095,18.1987698 7.01126984,18.1885714 5.9572619,18.1404762 C4.98257937,18.0960317 4.45325397,17.9331746 4.10099206,17.7962698 C3.63436508,17.6149206 3.30134921,17.3982937 2.95154762,17.0484524 C2.60174603,16.6986508 2.38507937,16.3656349 2.20373016,15.8990079 C2.0668254,15.546746 1.90396825,15.0174206 1.85952381,14.0427381 C1.81142857,12.9886111 1.80123016,12.6724206 1.80123016,10.0031746 C1.80123016,7.33388889 1.81142857,7.01769841 1.85952381,5.96357143 C1.90396825,4.98888889 2.0668254,4.45956349 2.20373016,4.10730159 C2.38507937,3.6406746 2.60170635,3.30765873 2.95154762,2.95785714 C3.30134921,2.60801587 3.63436508,2.39138889 4.10099206,2.21003968 C4.45325397,2.07313492 4.98257937,1.91027778 5.9572619,1.86583333 C7.01138889,1.8177381 7.32757937,1.80753968 9.99686508,1.80753968 L9.99686508,1.80753968 Z"></path>
              <path d="M9.99686508,13.3354365 C8.15646825,13.3354365 6.66456349,11.8435317 6.66456349,10.0031746 C6.66456349,8.16277778 8.15646825,6.67087302 9.99686508,6.67087302 C11.8372222,6.67087302 13.329127,8.16277778 13.329127,10.0031746 C13.329127,11.8435317 11.8372222,13.3354365 9.99686508,13.3354365 Z M9.99686508,4.86964286 C7.16166667,4.86964286 4.86333333,7.16797619 4.86333333,10.0031746 C4.86333333,12.8383333 7.16166667,15.1366667 9.99686508,15.1366667 C12.8320238,15.1366667 15.1303571,12.8383333 15.1303571,10.0031746 C15.1303571,7.16797619 12.8320238,4.86964286 9.99686508,4.86964286 L9.99686508,4.86964286 Z"></path>
              <path d="M16.5328175,4.6668254 C16.5328175,5.32936508 15.9957143,5.86642857 15.3331746,5.86642857 C14.6706746,5.86642857 14.1335714,5.32936508 14.1335714,4.6668254 C14.1335714,4.00428571 14.6706746,3.46718254 15.3331746,3.46718254 C15.9957143,3.46718254 16.5328175,4.00428571 16.5328175,4.6668254"></path>
              </g>
              </g>
            </svg>
          </a>
        </li>
        <li class="mr3 pr2">
          <a href="http://pinterest.com/aritzia/" target="_blank" aria-label="Pinterest">
            <svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M17.506053,21.602266 C16.102983,21.602266 14.7819472,20.8299341 14.3307583,19.9556772 C14.3307583,19.9556772 13.5754767,22.9947604 13.4170655,23.5833406 C12.8527258,25.656291 11.1964808,27.730677 11.0691861,27.8986377 C10.9800799,28.0192249 10.7806516,27.9804647 10.7608502,27.8254241 C10.7240762,27.5598453 10.301175,24.9442526 10.7990386,22.809573 C11.0493847,21.7386443 12.4722562,15.6202822 12.4722562,15.6202822 C12.4722562,15.6202822 12.056427,14.7804789 12.056427,13.5344117 C12.056427,11.5777417 13.1737913,10.1192115 14.5641319,10.1192115 C15.7465579,10.1192115 16.3151407,11.0193084 16.3151407,12.0988504 C16.3151407,13.307593 15.559859,15.110658 15.1694887,16.7816513 C14.8427658,18.1813235 15.8597087,19.3225947 17.2203472,19.3225947 C19.6827918,19.3225947 21.3418656,16.1112442 21.3418656,12.309878 C21.3418656,9.41578645 19.4239593,7.25096006 15.9332567,7.25096006 C11.9913653,7.25096006 9.53316384,10.2369275 9.53316384,13.5717363 C9.53316384,14.7216209 9.86837312,15.5312774 10.3916956,16.1586177 C10.6321411,16.4486011 10.664672,16.563446 10.5783945,16.8936251 C10.5147471,17.1376705 10.3733086,17.7205084 10.3124901,17.9530693 C10.227627,18.2875551 9.95889377,18.4052711 9.66187289,18.2818128 C7.84580233,17.5310143 7,15.5111796 7,13.2429928 C7,9.49474232 10.1144761,5 16.2910962,5 C21.2541737,5 24.5199891,8.64489005 24.5199891,12.5596656 C24.5199891,17.734864 21.6841468,21.602266 17.506053,21.602266 L17.506053,21.602266 Z" fill="#FFFFFF"></path>
              </g>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://open.spotify.com/user/aritziaspotify" target="_blank" aria-label="Spotify">
            <svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M15.6292735,4.00000261 C9.23432936,4.004185 4.01341766,9.29785139 4.00002543,15.7911236 C3.98669379,22.2883936 9.21754362,27.609922 15.6248499,27.6175487 C22.027793,27.6252369 27.2675508,22.3125038 27.2692476,15.8109899 C27.2710049,9.31058305 22.0331863,3.99569722 15.6292735,4.00000261 L15.6292735,4.00000261 Z M19.8117113,22.9985376 C19.0019961,22.6368845 18.1954926,22.2471233 17.3523877,21.9874465 C14.9851131,21.2585433 12.5995377,21.2900342 10.2250518,21.986647 C9.85758342,22.0944663 9.52604983,22.0977261 9.2440857,21.8108024 C8.89382722,21.4544388 9.01290298,21.0296809 9.12179822,20.6258965 C9.2144531,20.282449 9.42903187,20.0653342 9.79843943,19.9619432 C13.4479752,18.9400887 16.9598316,19.2826135 20.3551573,20.9841052 C20.8830902,21.2485794 21.1072435,21.6277001 21.0917303,22.1390579 C21.1145759,22.9935556 20.5537987,23.3301759 19.8117113,22.9985376 L19.8117113,22.9985376 Z M22.4408314,18.3617513 C22.4167739,18.4066504 22.3915044,18.4510574 22.3652047,18.4946649 C21.940895,19.1978588 21.7154085,19.2716655 20.9856832,18.9031853 C18.3774695,17.5863498 15.6134574,17.0317536 12.7171591,17.2436405 C11.6968646,17.3183083 10.6860235,17.5525832 9.67645494,17.7443578 C9.02581043,17.8678611 8.54793182,17.6407823 8.41352467,17.079728 C8.26027143,16.440254 8.63131515,15.7193465 9.1885776,15.5720405 C10.7095963,15.1700397 12.2569752,14.9732832 13.8806475,14.9630733 C16.7102876,14.9834932 19.4414553,15.6438791 22.0128858,16.9717856 C22.5806924,17.2650444 22.7432172,17.7982367 22.4408314,18.3617513 L22.4408314,18.3617513 Z M23.4227065,14.6409683 C23.1142003,14.7903655 22.8182986,14.6818696 22.5202153,14.5587353 C21.5693059,14.1658988 20.630092,13.7325917 19.6552463,13.4130084 C17.1964682,12.6070387 14.6661839,12.3442251 12.0958442,12.6040249 C11.1051217,12.7042176 10.1224588,12.8975913 9.14112909,13.0765112 C8.42491716,13.2071491 7.88189532,12.9175806 7.73300517,12.2733707 C7.58484219,11.6320515 7.98788184,11.0110907 8.65779663,10.850684 C10.3534597,10.4446853 12.0728168,10.2392565 13.3881647,10.2348896 C17.2088908,10.2369193 20.4309052,10.998605 23.4824565,12.5079531 C23.9236125,12.7261751 24.1901847,13.0648866 24.1676421,13.5672031 C24.1452207,14.069704 23.8634383,14.4273593 23.4227065,14.6409683 L23.4227065,14.6409683 Z" fill="#FFFFFF"></path>
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="aritzia-links w-1/4 text-base font-light flex flex-col space-y-3" >
    <p class="text-sm text-gray-400">
    ARITZIA
    </p>

    <a  href="#">Email Address</a>
    <a  href="#">Store Locator</a>
    <a  href="#">Careers</a>
    <a  href="#">Sustainability</a>
    <a  href="#">Diversity & Inclusion</a>
    <a  href="#">Accessibility</a>
    <a  href="#">Gift Cards</a>
    <a  href="#">Find a List</a>
    <a  href="#">Investor Relations</a>
    <a  href="#">Artistic License</a>
    <a  href="#">California Transparency Act</a>
  </div>

  <div class="help-links w-1/4 text-base flex flex-col space-y-3" >
    <p class="text-sm text-gray-400">
    GET HELP
    </p>

    <a  href="#">Contact Us</a>
    <a  href="#">Size Guide</a>
    <a  href="#">Shipping</a>
    <a  href="#">Returns & Exchanges</a>
    <a  href="#">Payment & Security</a>
    <a  href="#">Order Tracking</a>
    <a  href="#">Special Orders</a>
    <a  href="#">Our Services</a>
    <a  href="#">Send Us Feedback</a>
    <a  href="#">Afterpay</a>
  </div>

</div>

<div class="usa-flag footer bg-black text-white pb-5 px-10 flex space-x-2 text-xs" height="500">
  <svg width="25px" height="13px" viewBox="0 0 25 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g transform="translate(-120.000000, -95.000000)" fill-rule="nonzero">
    <g transform="translate(120.000000, 95.000000)">
    <polygon fill="#B22234" points="0 0 25 0 25 12.9999997 0 12.9999997"></polygon>
    <path d="M0,1.5483333 L25,1.5483333 M25,3.54833326 L0,3.54833326 M0,5.54833321 L25,5.54833321 M25,7.54833317 L0,7.54833317 M0,9.54833312 L25,9.54833312 M25,11.5483331 L0,11.5483331" stroke="#FFFFFF" stroke-width="0.999999978" fill="#000000"></path>
    <rect fill="#3C3B6E" x="0" y="0" width="9.87999978" height="6.99999984"></rect>
    <g transform="translate(0.440000, 0.300000)" fill="#FFFFFF">
    <g>
    <g>
    <g>
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.000000, 5.600000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.823333, 0.700000)">
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    </g>
    </g>
    <g transform="translate(1.646667, 0.000000)">
    <g>
    <g>
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.000000, 5.600000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.823333, 0.700000)">
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    </g>
    </g>
    </g>
    </g>
    <g transform="translate(3.293333, 0.000000)">
    <g>
    <g>
    <g>
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.000000, 5.600000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.823333, 0.700000)">
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    </g>
    </g>
    <g transform="translate(1.646667, 0.000000)">
    <g>
    <g>
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.000000, 5.600000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.823333, 0.700000)">
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    </g>
    </g>
    </g>
    </g>
    </g>
    <g transform="translate(6.586667, 0.000000)">
    <g>
    <g>
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.000000, 5.600000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.823333, 0.700000)">
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    </g>
    </g>
    </g>
    <g transform="translate(8.233333, 0.000000)">
    <g>
    <g>
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    <g transform="translate(0.000000, 1.400000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 2.800000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    <g transform="translate(0.000000, 4.200000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    <g transform="translate(0.000000, 5.600000)">
    <polygon points="0.383333325 0 0.61844742 0.72360678 0.0029107266 0.276393197 0.763755923 0.276393197 0.14821923 0.72360678"></polygon>
    </g>
    </g>
    </g>
    </g>
    </g>
    </g>
    </g>
  </svg>
  <p>USA ($USD)</p>
</div>
<div class="footer bg-black text-white px-10 flex justify-between pb-10 text-xs" height="500">
  <div class="pt-3 mb-2 pb-1 flex space-x-5">
    <p>&copy; <span class="js-footer__year">2021</span> Aritzia LP</p>
    <a href="/us/en/privacy-policy" data-link-type="nav-footer-nav">Privacy Policy</a>
    <a href="/us/en/terms-of-use" data-link-type="nav-footer-nav">Terms of Use</a>
    <a href="/us/en/sitemap" data-link-type="nav-footer-nav">Site Map</a>
  </div>

  <div class="pt-3 mb-2 pb-1 flex space-x-5">
    <svg width="28px" height="9px" viewBox="0 0 28 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(0.000000, -4.000000)" fill="#FFFFFF" fill-rule="nonzero">
      <g>
      <g transform="translate(0.000000, 4.000000)">
      <g>
      <g transform="translate(0.197400, 0.197400)">
      <polygon points="11.8300057 8.65240238 9.62866787 8.65240238 11.0055423 0.259293023 13.2067598 0.259293023"></polygon>
      <path d="M19.8100511,0.464480598 C19.3758505,0.294657914 18.6871726,0.107152785 17.8356243,0.107152785 C15.6617324,0.107152785 14.1308955,1.24998468 14.1215061,2.88389014 C14.1034495,4.08938198 15.2175405,4.75894144 16.0507915,5.16089072 C16.9024602,5.5716219 17.1919674,5.83970676 17.1919674,6.20581646 C17.1833002,6.7680945 16.5037709,7.02727881 15.869985,7.02727881 C14.991111,7.02727881 14.5201954,6.89365173 13.804553,6.58082672 L13.5146847,6.44672495 L13.2066394,8.33079548 C13.7229372,8.56268474 14.6741579,8.76846568 15.6617324,8.77748492 C17.9715301,8.77748492 19.4752821,7.65233546 19.4930979,5.91114859 C19.5018855,4.95570315 18.9136021,4.22360242 17.6453079,3.62536612 C16.8753753,3.24133663 16.4038578,2.98238967 16.4038578,2.58945962 C16.4128861,2.23225048 16.8026675,1.86637813 17.6717909,1.86637813 C18.3874334,1.84845833 18.913241,2.01804367 19.3115691,2.18774768 L19.510673,2.27687195 L19.8100511,0.464480598 L19.8100511,0.464480598 L19.8100511,0.464480598 Z"></path>
      <path d="M22.735819,5.67902199 C22.917107,5.19684899 23.6146929,3.33069825 23.6146929,3.33069825 C23.6055442,3.34861804 23.7956198,2.83962469 23.9043205,2.5271557 L24.0581625,3.25035586 C24.0581625,3.25035586 24.4750288,5.25939025 24.5655524,5.67902199 C24.2215144,5.67902199 23.1706214,5.67902199 22.735819,5.67902199 L22.735819,5.67902199 Z M25.4530935,0.259293023 L23.750358,0.259293023 C23.2252727,0.259293023 22.8263426,0.410958564 22.5997927,0.955672833 L19.3299868,8.65228371 L21.6397846,8.65228371 C21.6397846,8.65228371 22.0200561,7.6163772 22.1017923,7.39326983 C22.3551863,7.39326983 24.6021471,7.39326983 24.9281285,7.39326983 C24.9913266,7.6879377 25.1907916,8.65228371 25.1907916,8.65228371 L27.2290184,8.65228371 L25.4530935,0.259293023 L25.4530935,0.259293023 L25.4530935,0.259293023 Z"></path>
      <path d="M7.79002651,0.259293023 L5.63419122,5.98259042 L5.39861304,4.82183873 C5.00004413,3.48248247 3.75004728,2.02730025 2.35511628,1.30374406 L4.32978388,8.64350182 L6.65763818,8.64350182 L10.1177604,0.259293023 L7.79002651,0.259293023 L7.79002651,0.259293023 L7.79002651,0.259293023 Z"></path>
      <path d="M3.63231838,0.259293023 L0.0905803809,0.259293023 L0.0543468436,0.428878358 C2.81712397,1.12537684 4.64685742,2.8042598 5.39861304,4.82219475 L4.62868046,0.964810741 C4.50192327,0.428759684 4.11238265,0.276975468 3.63231838,0.259293023 L3.63231838,0.259293023 Z"></path>
      </g>
      </g>
      </g>
      </g>
      </g>
      </g>
    </svg>

    <svg width="23px" height="18px" viewBox="0 0 23 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-95.000000, 0.000000)" fill="#FFFFFE">
      <g>
      <g transform="translate(95.000000, 0.000000)">
      <path d="M11.5,1.53150071 C11.4083933,1.60400366 11.3187608,1.67869164 11.2311027,1.75556463 C9.73341173,3.06657691 8.78536112,4.99674454 8.78536112,7.15097609 C8.78536112,9.30520763 9.73341173,11.2351766 11.2311027,12.5463875 C11.3187608,12.6232605 11.4083933,12.6977499 11.5,12.7702528 C11.5916067,12.6977499 11.6812392,12.6232605 11.7688973,12.5463875 C13.2667857,11.2351766 14.2146389,9.30520763 14.2146389,7.15097609 C14.2146389,4.99674454 13.2667857,3.06657691 11.7688973,1.75556463 C11.6812392,1.67869164 11.5916067,1.60400366 11.5,1.53150071 L11.5,1.53150071 Z M15.8925818,0 C14.4375354,0 13.0847568,0.440182306 11.9580336,1.1952062 C12.0156827,1.24268073 12.0741214,1.28936072 12.1297962,1.33822572 C13.8043829,2.80397718 14.7644766,4.92265248 14.7644766,7.15097609 C14.7644766,9.37929969 13.8043829,11.497975 12.1299936,12.9635278 C12.0745163,13.0121942 12.0156827,13.0592714 11.9580336,13.106746 C13.0845594,13.8615712 14.4375354,14.3019522 15.8925818,14.3019522 C19.817851,14.3019522 23,11.1003013 23,7.15097609 C23,3.20145227 19.817851,0 15.8925818,0 Z M10.8702038,12.9635278 C10.9256811,13.0121942 10.9843173,13.0590728 11.0419664,13.106746 C9.91544061,13.8617699 8.56266202,14.3019522 7.10741815,14.3019522 C3.18195162,14.3019522 0,11.1003013 0,7.15097609 C0,3.2016509 3.18195162,0 7.10741815,0 C8.56246459,0 9.91544061,0.440182306 11.0419664,1.1952062 C10.9843173,1.24268073 10.926076,1.28936072 10.8702038,1.33822572 C9.19581452,2.80397718 8.23552336,4.92265248 8.23552336,7.15097609 C8.23552336,9.37949833 9.19581452,11.497975 10.8702038,12.9635278 Z M22.7773009,11.5821976 L22.7773009,11.3045014 L22.705437,11.3045014 L22.6225171,11.4955913 L22.5395972,11.3045014 L22.4675359,11.3045014 L22.4675359,11.5821976 L22.5184724,11.5821976 L22.5184724,11.3728329 L22.5960617,11.5531964 L22.6487751,11.5531964 L22.7265618,11.3724356 L22.7265618,11.5821976 L22.7773009,11.5821976 Z M22.3212416,11.5821976 L22.3212416,11.3519759 L22.4134406,11.3519759 L22.4134406,11.3050973 L22.1785009,11.3050973 L22.1785009,11.3519759 L22.2706999,11.3519759 L22.2706999,11.5821976 L22.3212416,11.5821976 Z M22.5433484,17.7558736 L22.5433484,17.8025536 L22.5859929,17.8025536 C22.5958643,17.8025536 22.6037614,17.8005672 22.6094869,17.7967931 C22.6154097,17.793019 22.6181737,17.7870598 22.6181737,17.7789157 C22.6181737,17.7711688 22.6154097,17.7654083 22.6094869,17.7616341 C22.6037614,17.75786 22.5958643,17.7558736 22.5859929,17.7558736 L22.5433484,17.7558736 Z M22.5865852,17.7230983 C22.6088946,17.7230983 22.6260708,17.7280643 22.6383114,17.7379962 C22.6503545,17.7481267 22.6564748,17.7616341 22.6564748,17.7789157 C22.6564748,17.7934162 22.6515391,17.8055332 22.6418651,17.8148692 C22.6321911,17.8242052 22.6185686,17.8299657 22.6008,17.8321507 L22.6578568,17.8982972 L22.613238,17.8982972 L22.5603272,17.832548 L22.5433484,17.832548 L22.5433484,17.8982972 L22.5060344,17.8982972 L22.5060344,17.7230983 L22.5865852,17.7230983 Z M22.5755292,17.9584846 C22.5956669,17.9584846 22.61462,17.9545118 22.6319937,17.9469636 C22.6495648,17.9392167 22.6647668,17.9286889 22.6779945,17.9153801 C22.6912222,17.90227 22.7014884,17.8865776 22.7089907,17.8687001 C22.716493,17.8508227 22.7202441,17.8317534 22.7202441,17.8112937 C22.7202441,17.7910326 22.716493,17.7719633 22.7089907,17.7540859 C22.7014884,17.7362084 22.6912222,17.720516 22.6779945,17.7072073 C22.6647668,17.6940971 22.6495648,17.6835693 22.6319937,17.6760211 C22.61462,17.6684728 22.5956669,17.6646987 22.5755292,17.6646987 C22.5549967,17.6646987 22.5356487,17.6684728 22.5178801,17.6760211 C22.4999142,17.6835693 22.4843173,17.6940971 22.4710896,17.7072073 C22.4580594,17.720516 22.4475957,17.7362084 22.4400934,17.7540859 C22.4325911,17.7719633 22.42884,17.7910326 22.42884,17.8112937 C22.42884,17.8317534 22.4325911,17.8508227 22.4400934,17.8687001 C22.4475957,17.8865776 22.4580594,17.90227 22.4710896,17.9153801 C22.4843173,17.9286889 22.4999142,17.9392167 22.5178801,17.9469636 C22.5356487,17.9545118 22.5549967,17.9584846 22.5755292,17.9584846 Z M22.5755292,17.6225874 C22.6017872,17.6225874 22.6266631,17.6275533 22.6497622,17.6374852 C22.6728613,17.6472185 22.6931964,17.6607259 22.7103727,17.6780074 C22.7277464,17.6950903 22.741369,17.7151528 22.7514378,17.7379962 C22.7613092,17.7610382 22.7662449,17.7854707 22.7662449,17.8112937 C22.7662449,17.8373153 22.7613092,17.8615492 22.7514378,17.8843926 C22.741369,17.9072359 22.7277464,17.9272984 22.7103727,17.9443813 C22.6931964,17.9614642 22.6728613,17.9749716 22.6497622,17.9851021 C22.6266631,17.995034 22.6017872,18 22.5755292,18 C22.5484815,18 22.5234081,17.995034 22.4999142,17.9851021 C22.4764202,17.9749716 22.4560851,17.9614642 22.4389088,17.9443813 C22.4217326,17.9272984 22.4083074,17.9072359 22.3982386,17.8843926 C22.3883672,17.8615492 22.3834315,17.8373153 22.3834315,17.8112937 C22.3834315,17.7854707 22.3883672,17.7610382 22.3982386,17.7379962 C22.4083074,17.7151528 22.4217326,17.6950903 22.4389088,17.6780074 C22.4560851,17.6607259 22.4764202,17.6472185 22.4999142,17.6374852 C22.5234081,17.6275533 22.5484815,17.6225874 22.5755292,17.6225874 Z M4.96986214,16.9484092 C4.96986214,16.614697 5.18703325,16.3407749 5.54220673,16.3407749 C5.88178338,16.3407749 6.11080019,16.6027787 6.11080019,16.9484092 C6.11080019,17.2940397 5.88178338,17.5562422 5.54220673,17.5562422 C5.18703325,17.5562422 4.96986214,17.2821215 4.96986214,16.9484092 Z M6.49775962,16.9484092 L6.49775962,15.9991172 L6.08710879,15.9991172 L6.08710879,16.2295375 C5.95680613,16.0587086 5.75937784,15.951444 5.49087538,15.951444 C4.96196501,15.951444 4.54736562,16.3685843 4.54736562,16.9484092 C4.54736562,17.5284329 4.96196501,17.9455731 5.49087538,17.9455731 C5.75937784,17.9455731 5.95680613,17.8383085 6.08710879,17.6674796 L6.08710879,17.8979 L6.49775962,17.8979 L6.49775962,16.9484092 Z M20.3631479,16.9484092 C20.3631479,16.614697 20.580319,16.3407749 20.9356899,16.3407749 C21.2750691,16.3407749 21.5040859,16.6027787 21.5040859,16.9484092 C21.5040859,17.2940397 21.2750691,17.5562422 20.9356899,17.5562422 C20.580319,17.5562422 20.3631479,17.2821215 20.3631479,16.9484092 Z M21.8910453,16.9484092 L21.8910453,15.2363464 L21.4803945,15.2363464 L21.4803945,16.2295375 C21.3500918,16.0587086 21.1526636,15.951444 20.8843585,15.951444 C20.3552507,15.951444 19.9406513,16.3685843 19.9406513,16.9484092 C19.9406513,17.5284329 20.3552507,17.9455731 20.8843585,17.9455731 C21.1526636,17.9455731 21.3500918,17.8383085 21.4803945,17.6674796 L21.4803945,17.8979 L21.8910453,17.8979 L21.8910453,16.9484092 Z M11.5906196,16.3209111 C11.8551735,16.3209111 12.0249618,16.4875686 12.068396,16.7815531 L11.0893492,16.7815531 C11.132586,16.5074324 11.2984257,16.3209111 11.5906196,16.3209111 Z M11.5985167,15.951444 C11.0457175,15.951444 10.6589555,16.356666 10.6589555,16.9484092 C10.6589555,17.5522694 11.0615118,17.9455731 11.6261567,17.9455731 C11.9104534,17.9455731 12.1710587,17.8738647 12.4000755,17.6793979 L12.1986987,17.373495 C12.0407561,17.5006235 11.8393792,17.5721333 11.6498481,17.5721333 C11.3852942,17.5721333 11.1444317,17.4489776 11.0852032,17.1073198 L12.486944,17.1073198 C12.4908925,17.0556739 12.4946437,17.0040279 12.4946437,16.9484092 C12.4908925,16.356666 12.1276245,15.951444 11.5985167,15.951444 Z M16.5533743,16.9484092 C16.5533743,16.614697 16.770348,16.3407749 17.1257189,16.3407749 C17.4652955,16.3407749 17.6943123,16.6027787 17.6943123,16.9484092 C17.6943123,17.2940397 17.4652955,17.5562422 17.1257189,17.5562422 C16.770348,17.5562422 16.5533743,17.2821215 16.5533743,16.9484092 Z M18.0812718,16.9484092 L18.0812718,15.9991172 L17.670621,15.9991172 L17.670621,16.2295375 C17.5403183,16.0587086 17.34289,15.951444 17.0743875,15.951444 C16.5454772,15.951444 16.1308778,16.3685843 16.1308778,16.9484092 C16.1308778,17.5284329 16.5454772,17.9455731 17.0743875,17.9455731 C17.34289,17.9455731 17.5403183,17.8383085 17.670621,17.6674796 L17.670621,17.8979 L18.0812718,17.8979 L18.0812718,16.9484092 Z M14.2357637,16.9484092 C14.2357637,17.5244601 14.6345688,17.9455731 15.2426479,17.9455731 C15.5269447,17.9455731 15.7162784,17.8820089 15.9216038,17.7191256 L15.7241755,17.3854133 C15.5701815,17.4966507 15.4082903,17.5562422 15.2308022,17.5562422 C14.9030713,17.5522694 14.6622088,17.3139036 14.6622088,16.9484092 C14.6622088,16.5831135 14.9030713,16.3447477 15.2308022,16.3407749 C15.4082903,16.3407749 15.5701815,16.4001677 15.7241755,16.5116038 L15.9216038,16.1778916 C15.7162784,16.0150082 15.5269447,15.951444 15.2426479,15.951444 C14.6345688,15.951444 14.2357637,16.372557 14.2357637,16.9484092 Z M19.5262494,15.951444 C19.2893354,15.951444 19.1353414,16.0626814 19.0287301,16.2295375 L19.0287301,15.9991172 L18.6220278,15.9991172 L18.6220278,17.8979 L19.0326787,17.8979 L19.0326787,16.8331991 C19.0326787,16.5195493 19.1669299,16.3447477 19.4354324,16.3447477 C19.5183522,16.3447477 19.6052207,16.356666 19.6920891,16.3924208 L19.8184432,16.0030899 C19.7274288,15.967335 19.6089718,15.951444 19.5262494,15.951444 Z M8.5269275,16.1500822 C8.32949922,16.018981 8.05704819,15.951444 7.75715463,15.951444 C7.27937819,15.951444 6.97139007,16.1818643 6.97139007,16.5590783 C6.97139007,16.8689539 7.20040687,17.0596466 7.6229034,17.1192381 L7.81638311,17.1470475 C8.04125393,17.1788296 8.14806263,17.238421 8.14806263,17.3456857 C8.14806263,17.492678 7.99781971,17.576106 7.71766897,17.576106 C7.43337225,17.576106 7.22804683,17.4847324 7.08984704,17.3774678 L6.89636732,17.6992617 C7.12143556,17.8659192 7.40573229,17.9455731 7.71372041,17.9455731 C8.25842504,17.9455731 8.57431029,17.6873434 8.57431029,17.3258219 C8.57431029,16.9921096 8.32555065,16.817308 7.91509725,16.7577165 L7.72161754,16.7299072 C7.54393208,16.7060706 7.40178372,16.6705144 7.40178372,16.5433859 C7.40178372,16.4043391 7.53603495,16.3209111 7.76110319,16.3209111 C8.0019657,16.3209111 8.23473364,16.4122847 8.34924205,16.4837944 L8.5269275,16.1500822 Z M13.8213617,15.951444 C13.5844478,15.951444 13.4304537,16.0626814 13.3238425,16.2295375 L13.3238425,15.9991172 L12.9171402,15.9991172 L12.9171402,17.8979 L13.327791,17.8979 L13.327791,16.8331991 C13.327791,16.5195493 13.4620423,16.3447477 13.7305447,16.3447477 C13.8134646,16.3447477 13.9003331,16.356666 13.9870041,16.3924208 L14.1133582,16.0030899 C14.0225412,15.967335 13.9040842,15.951444 13.8213617,15.951444 Z M10.3193789,15.9991172 L9.64812271,15.9991172 L9.64812271,15.4230663 L9.23372075,15.4230663 L9.23372075,15.9991172 L8.85070988,15.9991172 L8.85070988,16.3765298 L9.23372075,16.3765298 L9.23372075,17.2423938 C9.23372075,17.6833707 9.40350907,17.9455731 9.88898522,17.9455731 C10.0666707,17.9455731 10.2719961,17.8897558 10.4022988,17.7985808 L10.2838418,17.4450048 C10.1614362,17.5165146 10.027185,17.5522694 9.92057374,17.5522694 C9.71524833,17.5522694 9.64812271,17.425141 9.64812271,17.2344483 L9.64812271,16.3765298 L10.3193789,16.3765298 L10.3193789,15.9991172 Z M4.18409758,17.8979 L4.18409758,16.7060706 C4.18409758,16.2573469 3.89980085,15.9554168 3.44196467,15.951444 C3.20110216,15.9474712 2.95234253,16.0229538 2.77860564,16.289129 C2.64830298,16.0785725 2.44297756,15.951444 2.1549297,15.951444 C1.95355285,15.951444 1.75612457,16.0110355 1.60213051,16.2335103 L1.60213051,15.9991172 L1.19147968,15.9991172 L1.19147968,17.8979 L1.60607907,17.8979 L1.60607907,16.8451174 C1.60607907,16.5153779 1.78771309,16.3407749 2.06806125,16.3407749 C2.34031486,16.3407749 2.47851465,16.5195493 2.47851465,16.8411446 L2.47851465,17.8979 L2.89311404,17.8979 L2.89311404,16.8451174 C2.89311404,16.5153779 3.0826452,16.3407749 3.35509622,16.3407749 C3.63544439,16.3407749 3.76949819,16.5195493 3.76949819,16.8411446 L3.76949819,17.8979 L4.18409758,17.8979 L4.18409758,17.8979 Z"></path>
      </g>
      </g>
      </g>
      </g>
    </svg>

    <svg width="35px" height="14px" viewBox="0 0 35 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-138.000000, -2.000000)" fill="#FFFFFF" fill-rule="nonzero">
      <g>
      <g transform="translate(138.000000, 2.000000)">
      <g>
      <g transform="translate(0.789600, 0.592200)">
      <path d="M33.952799,8.74368672 L32.2361974,8.74368672 C32.0648106,8.74368672 31.9509489,8.75012298 31.8550341,8.81508152 C31.7556725,8.87908655 31.7174017,8.97408097 31.7174017,9.09946884 C31.7174017,9.24857552 31.8013123,9.3500062 31.9233749,9.39386812 C32.0227364,9.4285524 32.1294669,9.43868355 32.2863536,9.43868355 L32.7968295,9.4523904 C33.3119407,9.46514373 33.655784,9.55394027 33.8654417,9.77050849 C33.9035937,9.80066356 33.9265324,9.83451351 33.952799,9.86836347 L33.952799,8.74368672 Z M33.952799,11.3495375 C33.724006,11.6850573 33.2781863,11.8551414 32.6746481,11.8551414 L30.8557135,11.8551414 L30.8557135,11.0075814 L32.6672792,11.0075814 C32.8469857,11.0075814 32.9727327,10.9838626 33.0484425,10.9097264 C33.1140496,10.848582 33.1598082,10.7597854 33.1598082,10.6519185 C33.1598082,10.5367809 33.1140496,10.4453622 33.044758,10.3905348 C32.9764172,10.3302247 32.8769368,10.302811 32.7129189,10.302811 C31.8285297,10.2726559 30.7252124,10.3302247 30.7252124,9.07944492 C30.7252124,8.50614107 31.0881911,7.90268214 32.0765771,7.90268214 L33.952799,7.90268214 L33.952799,7.11626659 L32.2095742,7.11626659 C31.6835284,7.11626659 31.3014143,7.24260798 31.0307848,7.43903308 L31.0307848,7.11626659 L28.452495,7.11626659 C28.0401921,7.11626659 27.5562205,7.21876998 27.3273086,7.43903308 L27.3273086,7.11626659 L22.7231603,7.11626659 L22.7231603,7.43903308 C22.3567348,7.17395454 21.7384587,7.11626659 21.4530914,7.11626659 L18.4161458,7.11626659 L18.4161458,7.43903308 C18.126262,7.15750632 17.4816004,7.11626659 17.0886707,7.11626659 L13.6898161,7.11626659 L12.9120385,7.9603701 L12.1835852,7.11626659 L7.10639979,7.11626659 L7.10639979,12.6314258 L12.0880269,12.6314258 L12.8894563,11.773973 L13.644414,12.6314258 L16.715114,12.6341672 L16.715114,11.3367842 L17.017002,11.3367842 C17.4244319,11.3431012 17.9049567,11.326653 18.3289073,11.142862 L18.3289073,12.6313066 L20.8616762,12.6313066 L20.8616762,11.1938754 L20.9838576,11.1938754 C21.1397935,11.1938754 21.1551256,11.2003116 21.1551256,11.3565697 L21.1551256,12.6311875 L28.8492281,12.6311875 C29.3377162,12.6311875 29.848311,12.5057996 30.1310635,12.2782659 L30.1310635,12.6311875 L32.5716021,12.6311875 C33.0794632,12.6311875 33.575439,12.5597926 33.952799,12.3769552 L33.952799,11.3495375 Z M30.1957199,9.77050849 C30.3791109,9.9608549 30.4774027,10.2011419 30.4774027,10.6079374 C30.4774027,11.4582388 29.9476725,11.8551414 28.9977951,11.8551414 L27.1632907,11.8551414 L27.1632907,11.0075814 L28.9904261,11.0075814 C29.169063,11.0075814 29.2957609,10.9838626 29.375155,10.9097264 C29.4399302,10.848582 29.4864019,10.7597854 29.4864019,10.6519185 C29.4864019,10.5367809 29.4361269,10.4453622 29.3714706,10.3905348 C29.2994453,10.3302247 29.2000838,10.302811 29.0360659,10.302811 C28.1552423,10.2726559 27.0521627,10.3302247 27.0521627,9.07944492 C27.0521627,8.50614107 27.411338,7.90268214 28.3987732,7.90268214 L30.2869994,7.90268214 L30.2869994,8.7439251 L28.5592255,8.7439251 C28.3879576,8.7439251 28.2765918,8.75036136 28.1818655,8.8153199 C28.0787007,8.87932493 28.0404298,8.97431935 28.0404298,9.09970722 C28.0404298,9.2488139 28.1280249,9.35024458 28.2465219,9.3941065 C28.3458834,9.42879078 28.4526139,9.43892193 28.6130662,9.43892193 L29.1200953,9.45262878 C29.6314033,9.46514373 29.9823778,9.55382108 30.1957199,9.77050849 Z M21.6967411,9.52640739 C21.5707564,9.60137789 21.4149394,9.60781415 21.2316672,9.60781415 L20.0874642,9.60781415 L20.0874642,8.7200871 L21.2472371,8.7200871 C21.4149394,8.7200871 21.5827606,8.7236628 21.6967411,8.7914819 C21.8188037,8.85548693 21.8917798,8.97789505 21.8917798,9.14702565 C21.8917798,9.31615624 21.8188037,9.4523904 21.6967411,9.52640739 Z M22.2655742,10.0183045 C22.4752318,10.0958972 22.6466186,10.2349919 22.7269636,10.3501294 C22.8599607,10.543098 22.879215,10.7231941 22.8830183,11.0715864 L22.8830183,11.8551414 L21.9374195,11.8551414 L21.9374195,11.3606222 C21.9374195,11.1228381 21.9602394,10.7707509 21.7851682,10.5869599 C21.6475358,10.4453622 21.4377593,10.4115123 21.0941537,10.4115123 L20.0875831,10.4115123 L20.0875831,11.8551414 L19.1411524,11.8551414 L19.1411524,7.90256295 L21.3156967,7.90256295 C21.7925371,7.90256295 22.1398271,7.92365958 22.4489652,8.08909529 C22.7462179,8.26919137 22.9331745,8.51591465 22.9331745,8.96681038 C22.9330556,9.597683 22.5135026,9.91961517 22.2655742,10.0183045 Z M26.5989741,7.90256295 L26.5989741,8.71996791 L24.393409,8.71996791 L24.393409,9.43856436 L26.5451335,9.43856436 L26.5451335,10.2450038 L24.393409,10.2450038 L24.393409,11.0314194 L26.5989741,11.0349951 L26.5989741,11.8551414 L23.4554169,11.8551414 L23.4554169,7.90256295 L26.5989741,7.90256295 Z M17.1006749,9.72664657 L15.8834958,9.72664657 L15.8834958,8.7200871 L17.1116094,8.7200871 C17.4516494,8.7200871 17.6876925,8.85906263 17.6876925,9.2047136 C17.6876925,9.5465505 17.4625839,9.72664657 17.1006749,9.72664657 Z M14.9453848,11.4956644 L13.4992938,9.88564602 L14.9453848,8.32676013 L14.9453848,11.4956644 Z M11.2108878,11.0314194 L8.89514552,11.0314194 L8.89514552,10.2450038 L10.9629594,10.2450038 L10.9629594,9.43856436 L8.89514552,9.43856436 L8.89514552,8.71996791 L11.2565276,8.71996791 L12.2867501,9.87181998 L11.2108878,11.0314194 Z M18.6988984,9.2047136 C18.6988984,10.3026918 17.882018,10.5293912 17.0587196,10.5293912 L15.8834958,10.5293912 L15.8834958,11.8551414 L14.0527948,11.8551414 L12.8930219,10.5466737 L11.6877282,11.8551414 L7.9569157,11.8551414 L7.9569157,7.90256295 L11.7451345,7.90256295 L12.9039565,9.19815815 L14.1020001,7.90256295 L17.1116094,7.90256295 C17.8590793,7.90256295 18.6988984,8.11007273 18.6988984,9.2047136 Z"></path>
      <path d="M2.98601802,3.03341453 L2.3487502,1.47614827 L1.71512458,3.03341453 L2.98601802,3.03341453 Z M17.0249436,2.41331221 C16.8969966,2.4911932 16.745669,2.49378531 16.5643813,2.49378531 L15.4333014,2.49378531 L15.4333014,1.62613692 L16.5797725,1.62613692 C16.7420268,1.62613692 16.9113304,1.63344194 17.0213014,1.69659505 C17.1420815,1.75350355 17.2168054,1.87462557 17.2168054,2.0419342 C17.2168054,2.21265969 17.1457237,2.35004128 17.0249436,2.41331221 Z M25.093948,3.03341453 L24.4496307,1.47614827 L23.8088382,3.03341453 L25.093948,3.03341453 Z M10.0528294,4.71899002 L9.09833758,4.71899002 L9.09481287,1.65959864 L7.74473091,4.71899002 L6.92723284,4.71899002 L5.57362616,1.65688871 L5.57362616,4.71899002 L3.67991621,4.71899002 L3.322158,3.84768912 L1.38356672,3.84768912 L1.02216631,4.71899002 L0.0109266054,4.71899002 L1.6782326,0.812687093 L3.06156434,0.812687093 L4.64509969,4.51115029 L4.64509969,0.812687093 L6.16472027,0.812687093 L7.383213,3.46264363 L8.50254386,0.812687093 L10.0527119,0.812687093 L10.0527119,4.71899002 L10.0528294,4.71899002 Z M13.8570505,4.71899002 L10.7467276,4.71899002 L10.7467276,0.812687093 L13.8570505,0.812687093 L13.8570505,1.62613692 L11.6778389,1.62613692 L11.6778389,2.33024702 L13.8047672,2.33024702 L13.8047672,3.13097196 L11.6778389,3.13097196 L11.6778389,3.91107788 L13.8570505,3.91107788 L13.8570505,4.71899002 L13.8570505,4.71899002 Z M18.2424964,1.86472844 C18.2424964,2.48754069 17.8279903,2.80931523 17.5864301,2.90593007 C17.7901584,2.98369324 17.9641617,3.12107483 18.0469924,3.23489182 C18.1784642,3.42918191 18.2011398,3.60273515 18.2011398,3.95160898 L18.2011398,4.71899002 L17.2620392,4.71899002 L17.2585145,4.22637216 C17.2585145,3.99131532 17.2809551,3.65328121 17.111534,3.46535356 C16.9754801,3.32797197 16.7681096,3.29816276 16.4329096,3.29816276 L15.4334189,3.29816276 L15.4334189,4.71899002 L14.5024251,4.71899002 L14.5024251,0.812687093 L16.6439223,0.812687093 C17.1197583,0.812687093 17.4703496,0.825294152 17.77136,0.999789978 C18.0659084,1.1742858 18.2424964,1.42901908 18.2424964,1.86472844 Z M19.7325094,4.71899002 L18.7824822,4.71899002 L18.7824822,0.812687093 L19.7325094,0.812687093 L19.7325094,4.71899002 Z M30.754047,4.71899002 L29.4346301,4.71899002 L27.6698071,1.7870831 L27.6698071,4.71899002 L25.7736298,4.71899002 L25.4112895,3.84768912 L23.4771628,3.84768912 L23.1256316,4.71899002 L22.0361433,4.71899002 C21.5835704,4.71899002 21.0105698,4.61860484 20.6860613,4.28693317 C20.3588506,3.95526149 20.1886071,3.50600249 20.1886071,2.79564777 C20.1886071,2.2163122 20.2903537,1.68669792 20.690526,1.26819072 C20.9915363,0.956431123 21.4629077,0.812687093 22.1045227,0.812687093 L23.0059089,0.812687093 L23.0059089,1.64970151 L22.1234387,1.64970151 C21.7836565,1.64970151 21.5917947,1.70036539 21.4069823,1.88110583 C21.2482528,2.04558671 21.1393392,2.35652154 21.1393392,2.76595638 C21.1393392,3.18446359 21.2222874,3.48620823 21.3953508,3.68332607 C21.538689,3.83790981 21.7991652,3.88480335 22.0442501,3.88480335 L22.4623984,3.88480335 L23.7746485,0.812804916 L25.1697292,0.812804916 L26.7460977,4.5076156 L26.7460977,0.812804916 L28.1637366,0.812804916 L29.8003776,3.53333742 L29.8003776,0.812804916 L30.754047,0.812804916 L30.754047,4.71899002 Z M0,5.48625324 L1.59093724,5.48625324 L1.94963538,4.61860484 L2.75268213,4.61860484 L3.11044033,5.48625324 L6.24050156,5.48625324 L6.24050156,4.82290988 L6.51989369,5.48908099 L8.14478565,5.48908099 L8.42417778,4.81301275 L8.42417778,5.48625324 L16.2029809,5.48625324 L16.1993387,4.06200911 L16.3498439,4.06200911 C16.4552327,4.06566162 16.4860152,4.07544093 16.4860152,4.24993675 L16.4860152,5.48625324 L20.5092383,5.48625324 L20.5092383,5.15469938 C20.8337468,5.32907739 21.3384854,5.48625324 22.0026585,5.48625324 L23.695225,5.48625324 L24.0574478,4.61860484 L24.8604946,4.61860484 L25.2147281,5.48625324 L28.4763785,5.48625324 L28.4763785,4.66208152 L28.9703081,5.48625324 L31.5839991,5.48625324 L31.5839991,0.038118853 L28.9973309,0.038118853 L28.9973309,0.681550122 L28.635108,0.038118853 L25.9808828,0.038118853 L25.9808828,0.681550122 L25.6482676,0.038118853 L22.0630486,0.038118853 C21.4629077,0.038118853 20.9353759,0.122126634 20.5092383,0.356240887 L20.5092383,0.038118853 L18.0351259,0.038118853 L18.0351259,0.356240887 C17.7639581,0.114939433 17.3944508,0.038118853 16.983587,0.038118853 L7.94469953,0.038118853 L7.33821419,1.44527865 L6.71539768,0.038118853 L3.86837078,0.038118853 L3.86837078,0.681550122 L3.55561139,0.038118853 L1.12755518,0.038118853 L0,2.62845697 L0,5.48625324 L0,5.48625324 Z"></path>
      </g>
      </g>
      </g>
      </g>
      </g>
      </g>
    </svg>

    <svg width="23px" height="15px" viewBox="0 0 23 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-147.000000, -1.000000)">
      <g>
      <g transform="translate(147.000000, 1.000000)">
      <path d="M22.8745698,8.4 C22.8745698,8.4 16.6411308,12.8517198 5.22456981,14.8440998 L22.8745698,14.8440998 L22.8745698,8.4" fill="#FFFFFE"></path>
      <path d="M22.83387,0.170044838 C22.83387,0.336418701 22.83387,14.6626636 22.83387,14.8299552 C22.6691545,14.8299552 0.331359855,14.8299552 0.16612997,14.8299552 C0.16612997,14.6635813 0.165358469,0.337729764 0.165358469,0.170569263 C0.330974104,0.170569263 22.6673543,0.170044838 22.83387,0.170044838 Z M22.916935,0 L0,0.00235991295 L0,15 L23,15 L22.9987142,0 L22.916935,0 L22.916935,0 Z" fill="#FFFFFE"></path>
      <path d="M2.8000699,7.07888974 C2.5938899,7.26517973 2.32595991,7.34642973 1.90189993,7.34642973 L1.72574994,7.34642973 L1.72574994,5.12134981 L1.90189993,5.12134981 C2.32595991,5.12134981 2.58335991,5.19713981 2.8000699,5.3934398 C3.02717989,5.59558979 3.16367988,5.90875978 3.16367988,6.23102977 C3.16367988,6.55407976 3.02717989,6.87686975 2.8000699,7.07888974 Z M2.03332993,4.55116983 L1.06989996,4.55116983 L1.06989996,7.91608971 L2.02825993,7.91608971 C2.53785991,7.91608971 2.90588989,7.79583971 3.22893988,7.52764972 C3.61269987,7.20992974 3.83980986,6.73113975 3.83980986,6.23596977 C3.83980986,5.24289981 3.09776989,4.55116983 2.03332993,4.55116983 L2.03332993,4.55116983 Z" fill="#FFFFFE"></path>
      <polygon fill="#FFFFFE" points="4.14179985 7.91608971 4.79816982 7.91608971 4.79816982 4.55116983 4.14179985 4.55116983"></polygon>
      <path d="M6.40301977,5.84245979 C6.00911978,5.69672979 5.89341978,5.60052979 5.89341978,5.4187898 C5.89341978,5.20688981 6.09946978,5.04581981 6.38247977,5.04581981 C6.57903976,5.04581981 6.74062975,5.12654981 6.91170975,5.3182998 L7.25503973,4.86862982 C6.97293974,4.62175983 6.63519976,4.49552984 6.26638977,4.49552984 C5.67098979,4.49552984 5.21689981,4.90905982 5.21689981,5.4597398 C5.21689981,5.92331978 5.4282798,6.16056977 6.04473978,6.38247977 C6.30161977,6.47308976 6.43239976,6.53353976 6.49843976,6.57409976 C6.62960976,6.65976976 6.69525975,6.78092975 6.69525975,6.92223975 C6.69525975,7.19484974 6.47841976,7.39686973 6.18565977,7.39686973 C5.87261978,7.39686973 5.62041979,7.24034973 5.4693598,6.94810975 L5.04529981,7.35643973 C5.3476798,7.80025971 5.71089979,7.99694971 6.21022977,7.99694971 C6.89233975,7.99694971 7.37086973,7.54350972 7.37086973,6.89207975 C7.37086973,6.35751977 7.14960974,6.11545978 6.40301977,5.84245979" fill="#FFFFFE"></path>
      <path d="M7.57782972,6.23596977 C7.57782972,7.22500973 8.35444969,7.99187971 9.35388966,7.99187971 C9.63650965,7.99187971 9.87843964,7.93636971 10.1769196,7.79583971 L10.1769196,7.02324974 C9.91444964,7.28584973 9.68200964,7.39179973 9.38443966,7.39179973 C8.72338968,7.39179973 8.2542197,6.91248975 8.2542197,6.23102977 C8.2542197,5.5850598 8.73833968,5.07545981 9.35388966,5.07545981 C9.66705965,5.07545981 9.90391964,5.18712981 10.1769196,5.4540198 L10.1769196,4.68181983 C9.88870964,4.53569983 9.65184965,4.47511984 9.36948966,4.47511984 C8.37511969,4.47511984 7.57782972,5.25758981 7.57782972,6.23596977" fill="#FFFFFE"></path>
      <polyline fill="#FFFFFE" points="15.3809494 6.81134975 14.4835595 4.55116983 13.7666095 4.55116983 15.1945294 8.00240971 15.5477394 8.00240971 17.0013994 4.55116983 16.2899094 4.55116983 15.3809494 6.81134975"></polyline>
      <polyline fill="#FFFFFE" points="17.2981894 7.91608971 19.1595293 7.91608971 19.1595293 7.34642973 17.9540393 7.34642973 17.9540393 6.43811976 19.1150693 6.43811976 19.1150693 5.86819978 17.9540393 5.86819978 17.9540393 5.12134981 19.1595293 5.12134981 19.1595293 4.55116983 17.2981894 4.55116983 17.2981894 7.91608971"></polyline>
      <path d="M20.4415893,6.10037978 L20.2498393,6.10037978 L20.2498393,5.08117981 L20.4519892,5.08117981 C20.8607092,5.08117981 21.0828792,5.25251981 21.0828792,5.5799898 C21.0828792,5.91824978 20.8607092,6.10037978 20.4415893,6.10037978 Z M21.7582292,5.5446298 C21.7582292,4.91464982 21.3244192,4.55116983 20.5674292,4.55116983 L19.5942493,4.55116983 L19.5942493,7.91608971 L20.2498393,7.91608971 L20.2498393,6.56434976 L20.3353793,6.56434976 L21.2438192,7.91608971 L22.0509892,7.91608971 L20.9917492,6.49856976 C21.4861392,6.39794977 21.7582292,6.05981978 21.7582292,5.5446298 L21.7582292,5.5446298 Z" fill="#FFFFFE"></path>
      <path d="M22.08255,4.70365983 L22.07059,4.70365983 L22.07059,4.62643983 L22.08333,4.62643983 C22.11817,4.62643983 22.13637,4.63891983 22.13637,4.66439983 C22.13637,4.69052983 22.11791,4.70365983 22.08255,4.70365983 Z M22.20696,4.66335983 C22.20696,4.60433983 22.16627,4.57209983 22.09503,4.57209983 L22,4.57209983 L22,4.86784982 L22.07059,4.86784982 L22.07059,4.75318983 L22.1534,4.86784982 L22.23959,4.86784982 L22.14235,4.74590983 C22.18395,4.73472983 22.20696,4.70443983 22.20696,4.66335983 L22.20696,4.66335983 Z" fill="#FFFFFE"></path>
      <path d="M22.10649,4.93115982 C21.99352,4.93115982 21.90109,4.83716982 21.90109,4.71977983 C21.90109,4.60199983 21.99235,4.50800983 22.10649,4.50800983 C22.21894,4.50800983 22.31059,4.60420983 22.31059,4.71977983 C22.31059,4.83612982 22.21894,4.93115982 22.10649,4.93115982 Z M22.10753,4.46159984 C21.96388,4.46159984 21.85,4.57612983 21.85,4.71938983 C21.85,4.86251982 21.96518,4.97730982 22.10753,4.97730982 C22.24741,4.97730982 22.36207,4.86121982 22.36207,4.71938983 C22.36207,4.57820983 22.24741,4.46159984 22.10753,4.46159984 L22.10753,4.46159984 Z" fill="#FFFFFE"></path>
      <circle fill="#FFFFFF" cx="12.18" cy="6.24" r="1.81"></circle>
      </g>
      </g>
      </g>
      </g>
    </svg>

    <svg width="30px" height="12px" viewBox="0 0 30 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-194.000000, -3.000000)" fill="#FFFFFF">
      <g>
      <g transform="translate(193.000000, 2.000000)">
      <g transform="translate(0.935000, 0.922000)">
      <path d="M5.44560504,1.66856709 C5.77944345,1.25620169 6.00580682,0.702386739 5.94612488,0.136588517 C5.45773165,0.160555053 4.86162559,0.4549675 4.51661168,0.86780283 C4.20678871,1.22119175 3.93263223,1.79803338 4.00396523,2.34010003 C4.55227817,2.38709324 5.10011557,2.06941915 5.44560504,1.66856709"></path>
      <path d="M5.93970491,2.44606971 C5.14362869,2.39907651 4.46667858,2.89250519 4.08647372,2.89250519 C3.70603109,2.89250519 3.12371608,2.46956632 2.49384574,2.48107965 C1.67422964,2.49282796 0.913819926,2.95077677 0.497710794,3.67917149 C-0.357809581,5.13643086 0.272060756,7.29788345 1.10404124,8.48446195 C1.50802377,9.07164208 1.99499034,9.71803366 2.63651173,9.69500698 C3.2426044,9.67151038 3.48038105,9.30707805 4.2170131,9.30707805 C4.95340738,9.30707805 5.16740636,9.69500698 5.80916553,9.68325868 C6.47446459,9.67151038 6.89057372,9.09584358 7.29455624,8.50795855 C7.75798293,7.83877528 7.94772869,7.19261867 7.9598553,7.1571388 C7.94772869,7.14515553 6.67657474,6.66347515 6.66492368,5.21843401 C6.65279707,4.00835891 7.66287227,3.43292708 7.7104276,3.39721224 C7.14000142,2.56355273 6.24881455,2.46956632 5.93970491,2.44606971"></path>
      <path d="M11.9190742,5.46256372 L13.5074222,5.46256372 C14.7127121,5.46256372 15.3986977,4.8213414 15.3986977,3.70971707 C15.3986977,2.59832771 14.7127121,1.96297954 13.5136044,1.96297954 L11.9190742,1.96297954 L11.9190742,5.46256372 Z M13.8783538,0.808591388 C15.6088922,0.808591388 16.8141821,1.98741601 16.8141821,3.70360796 C16.8141821,5.42590902 15.5841635,6.61084276 13.8350785,6.61084276 L11.9190742,6.61084276 L11.9190742,9.62193255 L10.5347386,9.62193255 L10.5347386,0.808591388 L13.8783538,0.808591388 L13.8783538,0.808591388 Z"></path>
      <path d="M21.3602338,7.22786357 L21.3602338,6.7330251 L19.8213433,6.83077097 C18.9560741,6.88575302 18.5050118,7.20319214 18.5050118,7.75912179 C18.5050118,8.29648912 18.9746207,8.64470879 19.7100639,8.64470879 C20.6495194,8.64470879 21.3602338,8.05212444 21.3602338,7.22786357 Z M17.1575315,7.79577649 C17.1575315,6.66582481 18.028983,6.01849337 19.6358775,5.9207475 L21.3602338,5.81689251 L21.3602338,5.32839811 C21.3602338,4.61363142 20.8844427,4.2228829 20.0377201,4.2228829 C19.3391323,4.2228829 18.8324302,4.57697672 18.727333,5.12068814 L17.4787678,5.12068814 C17.5160987,3.97851822 18.6036891,3.14791327 20.0748132,3.14791327 C21.656979,3.14791327 22.6891675,3.96629999 22.6891675,5.23676136 L22.6891675,9.62193255 L21.4096913,9.62193255 L21.4096913,8.56529027 L21.3787804,8.56529027 C21.0142688,9.25538552 20.2105837,9.68889787 19.3391323,9.68889787 C18.0537117,9.68889787 17.1575315,8.93183729 17.1575315,7.79577649 L17.1575315,7.79577649 Z"></path>
      <path d="M23.8654485,11.9793468 L23.8654485,10.9229395 C23.9519992,10.9349228 24.161956,10.947141 24.2732355,10.947141 C24.8850348,10.947141 25.2312376,10.6907931 25.4414321,10.0310084 L25.565076,9.6402599 L23.2225005,3.22733179 L24.668658,3.22733179 L26.3005192,8.43088969 L26.3314301,8.43088969 L27.9630535,3.22733179 L29.3723557,3.22733179 L26.9432294,9.9640431 C26.3870699,11.5091798 25.750304,12.0162365 24.4030615,12.0162365 C24.2979642,12.0162365 23.9579436,12.0040182 23.8654485,11.9793468"></path>
      </g>
      </g>
      </g>
      </g>
      </g>
    </svg>

    <svg width="33px" height="10px" viewBox="0 0 33 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-244.000000, -4.000000)" fill="#FFFFFF" fill-rule="nonzero">
      <g>
      <g transform="translate(244.000000, 4.000000)">
      <g>
      <g transform="translate(0.473760, 0.473760)">
      <g transform="translate(0.331632, 0.430691)">
      <path d="M3.82974343,0 L1.34740342,0 C1.17753427,0 1.0330729,0.126136102 1.00657621,0.297532806 L0.00260597337,6.80355876 C-0.0173572816,6.93192079 0.0799182152,7.04766922 0.207320079,7.04766922 L1.39241148,7.04766922 C1.56228064,7.04766922 1.70674201,6.92153311 1.73323869,6.74976542 L2.00401302,4.99498965 C2.03014674,4.82322196 2.17497108,4.69708585 2.34447726,4.69708585 L3.13030357,4.69708585 C4.76547563,4.69708585 5.70919314,3.88833084 5.95564859,2.28566037 C6.06671689,1.58449204 5.96036718,1.03357406 5.63914026,0.647745984 C5.2863351,0.224077076 4.6605778,0 3.82974343,0 Z M4.11612539,2.37618157 C3.98037526,3.28658744 3.29980975,3.28658744 2.64174828,3.28658744 L2.26716502,3.28658744 L2.52995405,1.58634698 C2.54556168,1.48358316 2.63267407,1.40790149 2.73430518,1.40790149 L2.90598918,1.40790149 C3.35425499,1.40790149 3.77711303,1.40790149 3.99561993,1.66907742 C4.12592554,1.82489261 4.16585205,2.05638945 4.11612539,2.37618157 Z"></path>
      <path d="M11.3842784,2.45816845 L10.1609789,2.45816845 C10.056765,2.45816845 9.96674508,2.53032707 9.95068344,2.62830717 L9.89652209,2.95231354 L9.81098451,2.83487891 C9.54615418,2.47090232 8.95560869,2.34922307 8.36618377,2.34922307 C7.01439115,2.34922307 5.85982056,3.31876616 5.63495757,4.67881475 C5.51804376,5.35724731 5.68426308,6.0059675 6.09065997,6.45837378 C6.46343948,6.87434703 6.99683541,7.04766922 7.63145703,7.04766922 C8.72066048,7.04766922 9.32465293,6.38444656 9.32465293,6.38444656 L9.27011805,6.70633062 C9.24957409,6.82942475 9.34967921,6.939785 9.48003998,6.939785 L10.5819433,6.939785 C10.7571273,6.939785 10.9050438,6.81952062 10.9326848,6.65574884 L11.5938268,2.69091538 C11.6147443,2.56888242 11.5150127,2.45816845 11.3842784,2.45816845 Z M9.67912963,4.71277175 C9.56109524,5.37457953 9.0064083,5.81885028 8.29894899,5.81885028 C7.94372524,5.81885028 7.65984505,5.71096606 7.47756409,5.50651663 C7.29677723,5.30348206 7.22804835,5.01449385 7.28557144,4.69260979 C7.39576177,4.03646151 7.95978688,3.57768829 8.65641391,3.57768829 C9.00379361,3.57768829 9.28617969,3.68698738 9.47219592,3.89320541 C9.65858567,4.10154576 9.73254393,4.39230257 9.67912963,4.71277175 Z"></path>
      <path d="M17.3929926,2.34922307 L16.2290678,2.34922307 C16.1180157,2.34922307 16.0136834,2.40636374 15.9507303,2.50196447 L14.3454266,4.95095477 L13.6649674,2.59756519 C13.6221734,2.4503181 13.4909622,2.34922307 13.3424212,2.34922307 L12.1986556,2.34922307 C12.0596636,2.34922307 11.963112,2.48987702 12.0073206,2.62540295 L13.2893708,6.52195678 L12.0840668,8.28416025 C11.9892835,8.42298276 12.0847741,8.61381793 12.2485229,8.61381793 L13.411033,8.61381793 C13.5213777,8.61381793 13.6246491,8.55814241 13.6872485,8.46437311 L17.5585097,2.67704932 C17.6511709,2.5385931 17.556034,2.34922307 17.3929926,2.34922307 Z"></path>
      <path d="M21.4247683,0 L18.9419547,0 C18.7724409,0 18.6279731,0.126136102 18.6014753,0.297532806 L17.5974603,6.80355876 C17.5774961,6.93192079 17.674776,7.04766922 17.8014575,7.04766922 L19.0755329,7.04766922 C19.1938659,7.04766922 19.2951385,6.95937395 19.3136507,6.83917366 L19.5985935,4.99498965 C19.6247284,4.82322196 19.7695592,4.69708585 19.9390729,4.69708585 L20.7245713,4.69708585 C22.3601792,4.69708585 23.3035758,3.88833084 23.5504052,2.28566037 C23.6618414,1.58449204 23.554761,1.03357406 23.2335198,0.647745984 C22.8810619,0.224077076 22.2556397,0 21.4247683,0 Z M21.711163,2.37618157 C21.5757698,3.28658744 20.895174,3.28658744 20.2367202,3.28658744 L19.8624832,3.28658744 L20.1256469,1.58634698 C20.1412553,1.48358316 20.2276456,1.40790149 20.3296442,1.40790149 L20.5013358,1.40790149 C20.9492587,1.40790149 21.3724985,1.40790149 21.5910152,1.66907742 C21.7213266,1.82489261 21.7608919,2.05638945 21.711163,2.37618157 Z"></path>
      <path d="M28.9988397,2.47774531 L27.7762275,2.47774531 C27.6712614,2.47774531 27.5819842,2.54990393 27.5662953,2.64788402 L27.5121313,2.9718904 L27.426216,2.85445577 C27.1613727,2.49047918 26.5711718,2.36879993 25.9817181,2.36879993 C24.6298593,2.36879993 23.4756058,3.33834302 23.2507318,4.69839161 C23.1341858,5.37682417 23.2996661,6.02554436 23.7060829,6.47795064 C24.0796278,6.89392389 24.6123027,7.06724608 25.2469554,7.06724608 C26.3362121,7.06724608 26.9402341,6.40402342 26.9402341,6.40402342 L26.8856966,6.72590748 C26.8651516,6.84900161 26.9652616,6.95936186 27.0963759,6.95936186 L28.1979596,6.95936186 C28.372405,6.95936186 28.5210759,6.83909748 28.5483447,6.6753257 L29.2098926,2.71049224 C29.230064,2.58845927 29.129954,2.47774531 28.9988397,2.47774531 Z M27.2936075,4.73234861 C27.1763145,5.39415639 26.6208533,5.83842714 25.9133594,5.83842714 C25.5588653,5.83842714 25.2742242,5.73054292 25.0919343,5.52609349 C24.9111386,5.32305892 24.8431534,5.03407071 24.8999322,4.71218664 C25.010875,4.05603836 25.5741807,3.59726515 26.2708418,3.59726515 C26.6182385,3.59726515 26.9006384,3.70656424 27.0866637,3.91278227 C27.2738097,4.12112261 27.3477715,4.41187943 27.2936075,4.73234861 Z"></path>
      <path d="M30.5416215,0.178807062 L29.5937697,6.80357161 C29.5751976,6.93192689 29.6656943,7.04766922 29.7835426,7.04766922 L30.7364596,7.04766922 C30.8948288,7.04766922 31.0292232,6.92153975 31.0535357,6.7497811 L31.9882182,0.244468576 C32.0067903,0.1161133 31.9162936,0 31.7984453,0 L30.7313944,0 C30.6371833,0.000370969008 30.5561415,0.0760486467 30.5416215,0.178807062 Z"></path>
      </g>
      </g>
      </g>
      </g>
      </g>
      </g>
      </g>
    </svg>
  </div>


</div>
